.loginContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
  }