.optionBtn {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: rgb(171, 74, 74);
    cursor: pointer;
    transition: all 0.2s ease; /* Smooth color change */
    font-size: 1rem;
  }
  
  .optionBtn:hover {
    border-color: #3498db;
    background-color: #8fb107;
  }
  
  /* This class is added by React when isSelected is true */
  .optionBtn.selected {
    background-color: #3498db;
    color: white;
    border-color: #2980b9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .submitBtn:active {
    transform: scale(0.98); /* Slight shrink when pressed */
    filter: brightness(0.9);
  }