#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  /* padding: 2rem; */
  gap: 10px;
  /* background-color: rgb(0, 0, 0); */

}

/* .mainApp {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  width: 100%;
  grid-template-columns: 1fr;
  margin: 0 auto;
} */

.loginContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-items: center;
  gap: 15px;
  background-color: rgb(203, 203, 203);
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.lobby {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-items: stretch;
  /* Space between buttons */
  gap: 20px;
  /* Dont touch the edge */
  padding: 15px;
  width: 100hw;
  height: 100vh;
  /* Limits width on larger screen */
  max-width: 400px;
  /* 0 top/bootom auto left/right  */
  margin: 0 auto;
  background: linear-gradient(90deg, #5499cf 0%, #b63dce 100%);
  background-attachment: fixed;
}

.quizPage {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  flex: 1;
  padding-bottom: 80px;
}

.mobileAppWrapper {
  max-width: 430px; /* Max width of the largest iPhone Pro Max */
  margin: 0 auto;   /* Center on your laptop screen */
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(90deg, #5499cf 0%, #b63dce 100%);
  overflow-x: hidden; /* Prevents annoying horizontal scrolling */
}

.currentQuestionCount {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #b63dce;
  font-size: 1.2rem;
  /* margin: 10px 0; */
}

.currentTimeRemaining {
  text-align: center;
}