:global(#root) {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  
  gap: 10px;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.lobby {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-items: stretch;
  gap: 20px;
  padding: 15px;
  width: 100hw;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  background: linear-gradient(90deg, #5499cf 0%, #b63dce 100%);
  background-attachment: fixed;
}

.quizPage {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  flex: 1;
  padding-bottom: 80px;
}

.mobileAppWrapper {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(40deg, #54a6cf 0%, #989dd5 100%);
  overflow-x: hidden; 
}

.currentQuestionCount {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #b63dce;
  font-size: 1.2rem;
  
}

.currentTimeRemaining {
  text-align: center;
}
