.homeSvg {
  width: 28px;
  
  height: 28px;
  color: #f8f8f8;
  
  transition: transform 0.2s, color 0.2s;
}

.homeIconBtn svg {
  width: 24px!important;   
  height: 24px!important;
  margin: 0 auto; 
  display: block;
}

.homeIconBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;

  width: 48px;
  height: 48px;
  padding: 0;             

  display: flex;
  align-items: center;
  justify-content: center;
}

.homeIconBtn:hover {
  background-color: #f7fafc;
  transform: translateY(-2px);
}
